@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    @apply font-default;
}

.skew-transform {
    transform: skew(-18deg);
}

.skew-transform:hover {
    transform: skew(-18deg) translateY(-0.25rem);
}
